<a href="https://colab.research.google.com/github/sindhu637/webscraping/blob/main/webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import package
import requests
from bs4 import BeautifulSoup

In [ ]:
url="https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city"
response = requests.get(url)
print(response)

<Response [200]>

In [ ]:
#store the response text in the soup object
soup = BeautifulSoup(response.text,"html.parser")
print(soup.prettify())

In [20]:
s_info = soup.find_all('span',attrs = {'class':'seller-type'})
print(f'Type of s_info is {type(s_info)}\nThe length of s_info is {len(s_info)}')

Type of s_info is <class 'bs4.element.ResultSet'>
The length of s_info is 20

In [ ]:
s_info

In [ ]:
seller_info = []
for s in s_info:
  seller_info.append(s.text)

seller_info

In [ ]:
a_tag = soup.find_all('a',attrs = {'class' : 'typelink'})
bhk = []
for i in a_tag:
  bhk.append(i.span.text)
bhk

In [51]:
l_tag = soup.find_all('span',attrs={'itemprop' : 'addressLocality'})

local = []

for l in l_tag:
  local.append(l.text)

local

['Kollur',
 'Bairagiguda',
 'Sainikpuri',
 'Kothapet',
 'Badangpet',
 'Kollur',
 'Kompally',
 'Toli Chowki',
 'Shankarpally Road',
 'Bollaram',
 'Chandanagar',
 'Mokila',
 'Gachibowli',
 'Kukatpally',
 'Kollur',
 'Kondapur',
 'Chengicherla',
 'Shamirpet',
 'Pocharam',
 'Chandanagar']

In [ ]:
p_tags = soup.find_all('div',attrs = {'data-type' : 'price-link'})

prices = []

for p in p_tags:
  prices.append(p.text)

prices

In [80]:
import pandas as pd
pd.DataFrame({'Owner' : seller_info,
              'No. of BHK' : bhk,
              'Locality' : local,
              'prices' : prices})

    Owner        No. of BHK           Locality    prices
0   OWNER                3              Kollur   1.45 Cr
1   OWNER                4         Bairagiguda   1.05 Cr
2   OWNER                2          Sainikpuri      63 L
3   OWNER                2            Kothapet      36 L
4   OWNER                2           Badangpet      45 L
5   OWNER                2              Kollur    42.5 L
6   OWNER                3            Kompally    48.5 L
7   OWNER                2         Toli Chowki      64 L
8   OWNER                3   Shankarpally Road   89.98 L
9   OWNER                4            Bollaram   1.53 Cr
10  OWNER                3         Chandanagar      39 L
11  OWNER                4              Mokila    2.5 Cr
12  OWNER                2          Gachibowli      88 L
13  OWNER                3          Kukatpally      1 Cr
14  OWNER                2              Kollur      25 L
15  OWNER                3            Kondapur   1.38 Cr
16  OWNER                3        Chengicherla   1.09 Cr
17  OWNER  Residential Plot          Shamirpet      67 L
18  OWNER  Residential Plot           Pocharam      75 L
19  OWNER                2         Chandanagar      77 L

In [116]:
area = soup.find_all('td',attrs = {'class' : 'size'})

A = []

for j in area:
  A.append(j.span.text)

area

[<td class="size"><span class="val">2230 </span></td>,
 <td class="size"><span class="val">2150 </span></td>,
 <td class="size"><span class="val">1300 </span></td>,
 <td class="size"><span class="val">650 </span></td>,
 <td class="size"><span class="val">900 </span></td>,
 <td class="size"><span class="val">1250 </span></td>,
 <td class="size"><span class="val">1580 </span></td>,
 <td class="size"><span class="val">1280 </span></td>,
 <td class="size"><span class="val">2200 </span></td>,
 <td class="size"><span class="val">3500 </span></td>,
 <td class="size"><span class="val">1425 </span></td>,
 <td class="size"><span class="val">3800 </span></td>,
 <td class="size"><span class="val">1257 </span></td>,
 <td class="size"><span class="val">1600 </span></td>,
 <td class="size"><span class="val">1040 </span></td>,
 <td class="size"><span class="val">2050 </span></td>,
 <td class="size"><span class="val">2800 </span></td>,
 <td class="size"><span class="val">1800 </span></td>,
 <td class="size"><span class="val">1500 </span></td>,
 <td class="size"><span class="val">1175 </span></td>]

In [121]:
status = soup.find_all('td',attrs = {'class' : 'val'})

B = []

for b in status:
  B.append(b.text)

status

[<td class="val">Ready to move</td>,
 <td class="val">Ready to move</td>,
 <td class="val">Under Construction</td>,
 <td class="val">Ready to move</td>,
 <td class="val">Under Construction</td>,
 <td class="val">Under Construction</td>,
 <td class="val">Under Construction</td>,
 <td class="val">Ready to move</td>,
 <td class="val">Under Construction</td>,
 <td class="val">Ready to move</td>,
 <td class="val">Ready to move</td>,
 <td class="val">Ready to move</td>,
 <td class="val">Ready to move</td>,
 <td class="val">Ready to move</td>,
 <td class="val">Under Construction</td>,
 <td class="val">Ready to move</td>,
 <td class="val">Ready to move</td>,
 <td class="val">Resale</td>,
 <td class="val">Resale</td>,
 <td class="val">Ready to move</td>]

In [129]:
import time
from IPython.display import clear_output

base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='

seller_info= []
bhk = []
local = []

start_time = time.time()
for i in range(1,10):
  page = i
  print(f'going for {page}')

  clear_output(wait=True)

  time.sleep(0.25)

  url = base_url+str(i)

response = requests.get(url)


soup = BeautifulSoup(response.text,'html.parser')
s_info = soup.find_all('span',attrs= {'class' : 'seller-type'})

  
for s in s_info:
  seller_info.append(s.text)

  
a_tag = soup.find_all('a',attrs={'class' : 'typelink'})
for a in a_tag:
  bhk.append(a.span.text)

l_tag = soup.find_all('span',attrs={'itemprop' : 'addressLocality'})
for l in l_tag:
  local.append(l.text)

end_time = time.time()
print(f'Total time taken to scrape all pages {end_time - start_time}')

Total time taken to scrape all pages 4.087662220001221